/* Master Styles */

body {
  font-family: "Raleway", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Nav Styles */
.left-side {
  background-color: #2684da;
  margin-bottom: 2px;
  height: 50px;
  box-shadow: 0px 8px 27px rgba(0, 0, 0, 0.1);
}

.Programs {
  width: 400px;
  height: 200px;
  display: block;
}

.tagline {
  margin-left: 27px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.Welcome {
  padding-left: 10px;
  padding-top: 2.4px;
  font-size: 20px;
  padding-bottom: 2.4px;
}

.logo img {
  width: 17%;
  height: 17%;
  box-shadow: 0px 8px 27px rgba(38, 132, 218, 0.1);
}

.Zero {
  font-size: 15px;
  font-weight: bold;
}

.logo-bg {
  background-color: #2684da;
  margin-bottom: 2px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-select {
  font-family: Arial;
  position: relative;
  margin-bottom: 0.7%;
}

.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  background-color: black;
  height: 7px;
}

.right-side {
  display: flex;
  height: 0.5px;
  flex-wrap: wrap;
}

.nav-wrapper > .right-side > div {
  margin-right: 20px;
  font-size: 0.9em;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover {
  color: #2684da;
}

/* Body Styles */
.body-img-backgrounda {
  background-image: url("./IMAGES/pexels-misha-voguel-4407897.jpg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-img-backgroundb {
  background-image: url("./IMAGES/chris-ried-ieic5Tq8YMk-unsplash.jpg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-img-backgroundc {
  background-image: url("./IMAGES/kelly-sikkema-gcHFXsdcmJE-unsplash.jpg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-img-backgrounde {
  background-image: url("./IMAGES/download.jpeg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-img-backgroundf {
  background-image: url("./IMAGES/G3.jpeg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-img-backgroundg {
  background-image: url("./IMAGES/ads as Seketo Lenawala displays face masks copy.jpg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-img-backgroundh {
  background-image: url("./IMAGES/1_0.jpg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-img-backgroundi {
  background-image: url("./IMAGES/Computers have made learning interesting for children at Kimintent Primary School.  ©World Vision_Photo by Sarah Ooko.  .jpg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-items-wrapper {
  padding-top: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.body-item-wrapper {
  position: relative;
}
.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
  font-weight: bold;
}

.img-text-wrapper:hover .subtitle {
  color: #2684da;
  font-weight: bold;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
  justify-content: center;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}


/* FOOTER */

/* main class for footer design*/
ul {
  list-style: none;
  padding-left: 0;
  }
  footer {
  background-color:#2684da;
  color: #bbb;
  line-height: 1.5;
  }
  footer a {
  text-decoration: none;
  color: #eee;
  }
  a:hover {
  text-decoration: underline;
  }
  .ft-title {
  color: #fff;
  font-family: ’Merriweather’, serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
  }
  body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }
  .container {
  flex: 1; /* same as flex-grow: 1; */
  }
  
  .ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  }
  .ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem /*200px*/;
  }
  @media only screen and (min-width: 29.8125rem /*477px*/) {
  .ft-main {
  justify-content: space-around;
  }
  }
  @media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .ft-main {
  justify-content: space-evenly;
  }
  }
  form {
  display: flex;
  flex-wrap: wrap;
  }
  input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
  }
  input[type="submit"] {
  background-color: black;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
  }
  .ft-social {
  padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid; 
  padding-top: 1.25rem;
  }
  .ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
  }
  .ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: black;
  }
  .ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  }
  .ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
  flex: 1; /* same as flex-grow: 1; */
  }
  

/* ABOUT PAGE */
.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100vh;
  height: 100%;
  margin-top: 4.8px;
  background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("./IMAGES/pexels-misha-voguel-4407897.jpg") bottom center no-repeat,
    url("./IMAGES/chris-ried-ieic5Tq8YMk-unsplash.jpg") repeat;

    background-size: cover;

}
.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h2 {
  color: #2684da;
  text-decoration: underline;
}
